
.tarcon-logo{
    width: 150px;
    filter: invert(72%) sepia(57%) saturate(629%) hue-rotate(343deg) brightness(98%) contrast(90%);
}

.nav-title{
    font-family: 'Abril Fatface', 'Nunito', 'sans-serif';
    background: linear-gradient(350deg, #ffae00, #ffeac4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}