.input-field.active {
    border-color: #EEAC36; /* Change the border color when active */
    box-shadow: 0 0 0 2px #EEAC36; /* Add a box shadow when active */
  }
  
  @media (max-width: 600px) {
    /* Apply responsive styles for mobile devices */
    .mat-calendar {
      max-width: 100%;
    }
  
    .mat-calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
    }
  
    .mat-calendar-previous-button,
    .mat-calendar-next-button {
      font-size: 14px;
      width: 30px;
      height: 30px;
      padding: 0;
      margin: 0;
      line-height: 30px;
    }
  
    .mat-calendar-period-button {
      font-size: 16px;
    }
  
    .mat-calendar-content {
      padding: 8px;
    }
  
    .mat-calendar-table {
      width: 100%;
    }
  
    .mat-calendar-cell {
      height: 32px;
      padding: 0;
    }
  
    .mat-calendar-body-cell-content {
      line-height: 32px;
      font-size: 14px;
    }
  
    .mat-calendar-body-active {
      background-color: #EEAC36; /* Change the background color of the active date */
      color: white; /* Change the text color of the active date */
      border-radius: 50%; /* Add border radius to the active date */
    }
  }
  