<section class="my-6 ">


  <div>
    <h3 class="font-semibold leading-6 text-3xl text-gray-900">Offline Reservation </h3>
    <!-- Note Section -->
    <div class="py-4 rounded-md mb-10">
      <p class="text-sm text-gray-700">
        <span class="font-bold"><i class="fa fa-info-circle text-blue-700 pr-1"></i>Note:</span> Streamline bookings,
        manage availability and store guest details for seamless ofline reservations.
      </p>
      <p class="text-sm text-gray-700">
        <span class="font-bold"><i class="fa fa-info-circle text-blue-700 pr-1"></i>Note:</span> A hard copy of any
        identification proof is mandatory and must be physically collected.
      </p>
    </div>

    <!-- <div class="alert alert-danger w-full text-white text-center bg-red-500 p-2"  *ngIf="showErrorAlert && (submitted || bookingForm.invalid)" >
      Error: Please fill in all the required fields correctly.
    </div> -->

    <!-- <section class="col-span-1 md:col-span-2 p-4" *ngIf="bookingForm.valid && submitted && isFormSubmittedSuccessfully"> -->
    <section class="col-span-1 md:col-span-2 p-4 lg:w-1/2 mx-auto md:w-full sm:w-full"
      *ngIf="bookingForm.valid && submitted && isFormSubmittedSuccessfully">
      <div class="w-full border cursor-pointer header-bg">
        <div class="flex justify-center items-center space-x-2 py-2">
          <i class="fa-solid fa-hourglass-end text-[#FFA500]"></i>
          <p class="font-semibold text-gray-800">Overview of Provided Details</p>
        </div>
      </div>
      <div class="bg-white p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="guest_name" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-person-walking-luggage"></i> Full Name:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['guest_name'].value }}</span>
          </div>
          <div>
            <label for="guest_email" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-envelope"></i> Guest Email:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['guest_email'].value }}</span>
          </div>
          <div>
            <label for="guest_phone" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-phone"></i>  Guest Phone:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['guest_phone'].value }}</span>
          </div>
          <div>
            <label for="adults" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fas fa-user mr-1"></i> Adults:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['adults'].value }}</span>
          </div>
          <div>
            <label for="childrens" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-children"></i> Childrens:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['childrens'].value }}</span>
          </div>
          <div>
            <label for="check_in" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-calendar-plus"></i> Check-in Date:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['check_in'].value }}</span>
          </div>
          <div>
            <label for="check_out" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-calendar-check"></i> Check-out Date:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['check_out'].value }}</span>
          </div>
          <div>
            <label for="roomCategory" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fas fa-bed mr-1"></i> Room Category:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['roomCategory'].value }}</span>
          </div>

          <div>
            <label for="roomPrice" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fas fa-money-bill-wave mr-1"></i> Total Room Price :</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1"> <span>&#8377;</span> {{ totalPrice }}</span> <!-- Add this line -->
          </div>
          <div>
            <label for="bookingMode" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fas fa-building mr-1"></i> Booking Mode:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.value.bookingMode }}</span>
          </div>


          <div class="col-span-2">
            <label for="guest_address" class="block mb-1 text-sm font-medium text-blue-700">
              <i class="fa-solid fa-address-book"></i> Guest Address:</label>
            <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{ bookingForm.controls['guest_address'].value }}</span>
          </div>

        </div>
      </div>
    </section>
    <section *ngIf="!bookingForm.valid || !submitted || !isFormSubmittedSuccessfully">
      <div class="w-full border cursor-pointer header-bg">
        <div class="flex justify-center items-center space-x-2 py-2">
          <i class="fa-solid fa-user text-[#FFA500]"></i>
          <p class="font-semibold">
            Guest Details
          </p>
        </div>
      </div>



      <!-- //FormStart -->

      <form [formGroup]="bookingForm" class="bg-white p-4" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

          <div class="form-group">
            <label for="guest_name" class="block mb-1 text-sm font-medium text-gray-700">Full Name</label>
            <div class="relative">
              <input type="text" id="guest_name" placeholder="Enter Full Name" formControlName="guest_name"
                minlength="3" maxlength="15" class="w-full rounded-lg border px-3 py-2 pl-10" />
              <i class="fas fa-user absolute top-3 left-3 text-gray-400"></i>
            </div>
            <div
              *ngIf="formControls['guest_name'].invalid && (formControls['guest_name'].dirty || formControls['guest_name'].touched)"
              class="text-red-500">
              <div *ngIf="formControls['guest_name'].errors?.['required']">Full Name is required.</div>
              <div *ngIf="formControls['guest_name'].errors?.['minlength']">Minimum length of 3 characters is required.
              </div>
              <div *ngIf="formControls['guest_name'].errors?.['maxlength']">Maximum length of 15 characters exceeded.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="guest_email" class="block mb-1 text-sm font-medium text-gray-700">Email</label>
            <div class="relative">
              <input type="text" id="guest_email" placeholder="Enter Email" formControlName="guest_email"
                class="w-full rounded-lg border px-3 py-2 pl-10" />
              <i class="fas fa-envelope absolute top-3 left-3 text-gray-400"></i>
            </div>
            <div
              *ngIf="formControls['guest_email'].invalid && (formControls['guest_email'].dirty || formControls['guest_email'].touched)"
              class="text-red-500">
              <div *ngIf="formControls['guest_email'].errors?.['required']">Email is required.</div>
              <div *ngIf="formControls['guest_email'].errors?.['pattern']">Invalid email format.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="adults" class="block mb-1 text-sm font-medium text-gray-700">Total No. of Adults</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <i class="fa-solid fa-user text-muted"></i>
              </span>
              <select id="adults" formControlName="adults"
                class="w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
                <option selected disabled value="">Total No. of Adults</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div
              *ngIf="formControls['adults'].invalid && (formControls['adults'].dirty || formControls['adults'].touched)"
              class="text-red-500">
              <div *ngIf="formControls['adults'].errors?.['required']">Total No. of Adults is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="childrens" class="block mb-1 text-sm font-medium text-gray-700">Total No. of Children</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <i class="fa-solid fa-child text-muted"></i>
              </span>
              <select id="childrens" formControlName="childrens"
                class="w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
                <option selected disabled value="">Total No. of Children</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div
              *ngIf="formControls['childrens'].invalid && (formControls['childrens'].dirty || formControls['childrens'].touched)"
              class="text-red-500">
              <div *ngIf="formControls['childrens'].errors?.['required']">Total No. of Children is required.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="guest_address" class="block mb-1 text-sm font-medium text-gray-700">Address</label>
            <div class="relative">
              <input type="text" id="guest_address" placeholder="Enter Address" formControlName="guest_address"
                class="w-full rounded-lg border px-3 py-2 pl-10" />
              <i class="fas fa-map-marker-alt absolute top-3 left-3 text-gray-400"></i>
            </div>
            <div
              *ngIf="formControls['guest_address'].invalid && (formControls['guest_address'].dirty || formControls['guest_address'].touched)"
              class="text-red-500">
              <div *ngIf="formControls['guest_address'].errors?.['required']">Address is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="guest_phone" class="block mb-1 text-sm font-medium text-gray-700">Phone</label>
            <div class="relative">
              <input type="text" id="guest_phone" placeholder="Enter Phone" formControlName="guest_phone"
                class="w-full rounded-lg border px-3 py-2 pl-10" />
              <i class="fas fa-phone absolute top-3 left-3 text-gray-400"></i>
            </div>
            <div
              *ngIf="formControls['guest_phone'].invalid && (formControls['guest_phone'].dirty || formControls['guest_phone'].touched)"
              class="text-red-500">
              <div *ngIf="formControls['guest_phone'].errors?.['required']">Phone is required.</div>
              <div *ngIf="formControls['guest_phone'].errors?.['pattern']">Invalid phone format.</div>
            </div>
          </div>




        </div>
      </form>

      <div class="w-full border cursor-pointer header-bg">
        <div class="flex justify-center items-center space-x-2 py-2">
          <i class="fa-solid fa-file-contract text-[#FFA500]"></i>
          <p class="font-semibold">
            Documentation
          </p>
        </div>
      </div>


      <form [formGroup]="bookingForm" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 bg-white p-4"
        (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="idproof" class="block mb-1 text-sm font-medium text-gray-700">ID Proof Type</label>
          <div class="relative">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
              <i class="fa-solid fa-file-lines text-muted"></i>
            </span>
            <select id="idproof" formControlName="idproof"
              class="w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
              (change)="setValidationPattern()">
              <option selected disabled value="">ID Proof Type</option>
              <option value="VoterCard">Voter Card</option>
              <option value="PanCard">Pan Card</option>
              <option value="Aadhar">Aadhar Number</option>
            </select>
          </div>
          <div
            *ngIf="bookingForm.controls['idproof'].invalid && (bookingForm.controls['idproof'].dirty || bookingForm.controls['idproof'].touched)"
            class="text-red-500">
            <div *ngIf="bookingForm.controls['idproof'].errors?.['required']">ID Proof Type is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="idproofvalue" class="block mb-1 text-sm font-medium text-gray-700">ID Proof Unique Key</label>
          <div class="relative">
            <input type="text" id="idproofvalue" placeholder="Enter ID Proof Unique Key" formControlName="idproofvalue"
              class="w-full rounded-lg border px-3 py-2 pl-10" />
            <i class="fas fa-key absolute top-3 left-3 text-gray-400"></i>
          </div>

          <div
            *ngIf="bookingForm.controls['idproofvalue'].invalid && (bookingForm.controls['idproofvalue'].dirty || bookingForm.controls['idproofvalue'].touched)"
            class="text-red-500">
            <div *ngIf="bookingForm.controls['idproofvalue'].errors?.['required']">ID Proof Unique Key is required.
            </div>
            <div *ngIf="bookingForm.controls['idproofvalue'].errors?.['pattern']">
              <ng-container [ngSwitch]="bookingForm.controls['idproof'].value">
                <div *ngSwitchCase="'Aadhar'">Aadhar number is invalid.</div>
                <div *ngSwitchCase="'VoterCard'">Voter Card number is invalid.</div>
                <div *ngSwitchCase="'PanCard'">Pan Card number is invalid.</div>
                <div *ngSwitchDefault>Invalid ID Proof Unique Key.</div>
              </ng-container>
            </div>
          </div>
        </div>
      </form>

      <div class="w-full border cursor-pointer header-bg">
        <div class="flex justify-center items-center space-x-2 py-2">
          <i class="fa-solid fa-gear text-[#FFA500]"></i>
          <p class="font-semibold">
            Order Details
          </p>
        </div>
      </div>

      <form [formGroup]="bookingForm" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 bg-white p-4"
        (ngSubmit)="onSubmit()">

        <div class="form-group col-span-1 md:col-span-1 xl:col-span-1">
          <label for="check_in" class="block mb-1 text-sm font-medium text-gray-700">Check-in</label>
          <div class="relative">
            <input type="date" id="check_in" placeholder="Check-in" formControlName="check_in"
              class="w-full rounded-lg border px-3 py-2 pl-10 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              min="{{ getCurrentDate() }}" [value]="getCurrentDate()" />
            <i class="fas fa-calendar-alt absolute top-3 left-3 text-gray-400"></i>
          </div>
          <div
            *ngIf="formControls['check_in'].invalid && (formControls['check_in'].dirty || formControls['check_in'].touched)"
            class="text-red-500">
            <div *ngIf="formControls['check_in'].errors?.['required']">Check-in date is required.</div>
          </div>
        </div>


        <div class="form-group col-span-1 md:col-span-1 xl:col-span-1">
          <label for="check_out" class="block mb-1 text-sm font-medium text-gray-700">Check-out</label>
          <div class="relative">
            <input type="date" id="check_out" placeholder="Check-out" formControlName="check_out"
              class="w-full rounded-lg border px-3 py-2 pl-10 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              min="{{ getCurrentDate() }}" [value]="getCurrentDate()" />
            <i class="fas fa-calendar-alt absolute top-3 left-3 text-gray-400"></i>
          </div>
          <div
            *ngIf="formControls['check_out'].invalid && (formControls['check_out'].dirty || formControls['check_out'].touched)"
            class="text-red-500">
            <div *ngIf="formControls['check_out'].errors?.['required']">Check-out date is required.</div>
          </div>
        </div>



        <div class="form-group col-span-1 md:col-span-1 xl:col-span-1 text-start">
          <label for="room-category" class="block mb-1 text-sm font-medium text-gray-700">Room Category</label>
          <div class="relative">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
              <i class="fa-solid fa-bed text-muted"></i>
            </span>
            <select id="room-category" formControlName="roomCategory"
              class="w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
              <option selected disabled value="">Select Room Category</option>
              <option *ngFor="let category of roomCategories" [value]="category.room_category_id">
                {{ category.room_category_name }} - <span>&#8377;</span>
                {{ category.room_category_price }}
              </option>
            </select>

          </div>
          <div
            *ngIf="formControls['roomCategory'].invalid && (formControls['roomCategory'].dirty || formControls['roomCategory'].touched)"
            class="text-red-500">
            <div *ngIf="formControls['roomCategory'].errors?.['required']">Room Category is required.</div>
          </div>
        </div>

        <div class="form-group col-span-1 md:col-span-1 xl:col-span-1 text-start">
          <label for="booking-mode" class="block mb-1 text-sm font-medium text-gray-700">Booking Mode</label>
          <div class="relative">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
              <i class="fa-solid fa-calendar-alt text-muted"></i>
            </span>
            <select id="booking-mode" formControlName="bookingMode" class="w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
              <option value="" selected disabled>Select Booking Mode</option>
              <option value="offline">Offline</option>
              <option value="online">Online</option>
            </select>
          </div>
          <div *ngIf="formControls['bookingMode'].invalid && (formControls['bookingMode'].dirty || formControls['bookingMode'].touched)" class="text-red-500">
            <div *ngIf="formControls['bookingMode'].errors?.['required']">Booking Mode is required.</div>
          </div>
        </div>
        


        <div class="form-group">
          <label for="upi_id" class="block mb-1 text-sm font-medium text-gray-700">UPI ID</label>
          <div class="relative">
            <input type="text" id="upi_id" placeholder="Enter UPI ID" formControlName="upi_id"
              class="w-full rounded-lg border px-3 py-2 pl-10" />
            <i class="fas fa-money-check absolute top-3 left-3 text-gray-400"></i>
          </div>
        </div>
        
        <div class="form-group">
          <label for="transaction_id" class="block mb-1 text-sm font-medium text-gray-700">Transaction ID</label>
          <div class="relative">
            <input type="text" id="transaction_id" placeholder="Enter Transaction ID" formControlName="transaction_id"
              class="w-full rounded-lg border px-3 py-2 pl-10" />
            <i class="fas fa-credit-card absolute top-3 left-3 text-gray-400"></i>
          </div>
        </div>
        









        <div class="col-span-1 md:col-span-2 lg:col-span-3 flex justify-end">
          <button type="button" (click)="onReset()" class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg mr-2">
            Clear
          </button>
          <button type="submit"
            class="px-4 py-2 text-black justify-center rounded-md bg-[#EEAC36] text-sm font-semibold leading-6 shadow-sm hover:bg-[#ffc107] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Save & Proceed
          </button>
        </div>




      </form>

      <!-- //FormEnd -->



    </section>

  </div>
</section>