<section class="col-span-1 md:col-span-2 p-4 lg:w-1/1 mx-auto md:w-full sm:w-full" *ngIf="bookingData">
  <div class="w-full border cursor-pointer header-bg">
    <div class="flex justify-center items-center space-x-2 py-2">
      <i class="fa-solid fa-hourglass-end text-[#FFA500]"></i>
      <p class="font-semibold text-gray-800">Overview of Guest Details</p>
    </div>
  </div>
  <div class="bg-white p-4">
    <div>
      <div class="grid xl:grid-cols-3 md:grid-cols-3 gap-4 sm:grid-cols-2 xs:grid-cols-1">

        

        
        <div>
          <label for="booking_id" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-id-card mr-1"></i> Booking ID:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">
            {{ bookingData.booking_id }}
          </span>
        </div>
        <div>
          <label for="booking_date" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="far fa-calendar-alt mr-1"></i> Booking Date:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.booking_date | date :"dd-MMM-yyyy" }}</span>
        </div>
        <div>
          <label for="booking_from" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-calendar-plus"></i> Check In :</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.checkin | date :"dd-MMM-yyyy" }}</span>
        </div>
        <div>
          <label for="booking_till" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-calendar-check"></i> Check Out:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.checkout | date :"dd-MMM-yyyy" }}</span>
        </div>
        <div>
          <label for="room_category_id" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-bed mr-1"></i> Room Category:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            roomDetails.room_category_name }}</span>
        </div>

        
        <div>
          <label for="room_category_id" class="block mb-1 text-sm font-medium text-blue-700">
          <i class="fa-solid fa-indian-rupee-sign"></i>  Total Room Price:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
              bookingData.room_price }} <span class="text-yellow-600 d-block">
              <div class="relative inline-block">
                <!-- Icon or trigger element -->
                <i class="fa fa-question-circle ms-4 me-2 text-yellow-500 cursor-pointer"
                  (mouseenter)="showTooltip = true"
                  (mouseleave)="showTooltip = false"
                  (click)="showTooltip = !showTooltip"
                  aria-label="Tooltip"></i>
              
                <!-- Tooltip content -->
                <div class="tooltip {{ showTooltip ? 'visible' : 'invisible' }}">
                  <!-- Tooltip text -->
                  <div class="bg-gray-900 text-white p-2 rounded text-sm whitespace-normal">
                    The GST percentage varies based on the price: 5% for prices up to 5000, 12% for prices between 5001 and 10000, and 18% for prices exceeding 10000.
                  </div>
                </div>
                
              </div>
              {{this.gstPercentile}}% -
              GST Applicable
              : {{gspApplicable}}</span></span>
        </div>

        <div>
          <label for="booking_mode" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-building mr-1"></i> Booking Mode:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.booking_mode }}</span>
        </div>
        <div>
          <label for="booking_status" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-info-circle mr-1"></i> Booking Status:
          </label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">
            {{ bookingData.booking_status }}
          </span>
        </div>
        
        <div>
          <label for="payment_id" class="block mb-1 text-sm font-medium text-blue-700">
            
            <i class="fas fa-walking mr-1"></i> Payment ID:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.payment_id == null ? "-" : bookingData.payment_id  }}</span>
        </div>
        <div>
          <label for="invoice_no" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-file-invoice mr-1"></i> Invoice No:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.invoice_no == null ? "-" : bookingData.invoice_no }}</span>
        </div>
        <div>
          <label for="reference_no" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-link mr-1"></i> Reference No:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.reference_no == null ? "-" : bookingData.reference_no }}</span>
        </div>
        <div>
          <label for="transaction_id" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-exchange-alt mr-1"></i>  Transaction ID:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.transaction_id == null ? "-" :  bookingData.transaction_id}}</span>
        </div>
        <div>
          <label for="upi_id" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-exchange-alt mr-1"></i>  UPI ID:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.upi_id == null ? "-" :  bookingData.upi_id}}</span>
        </div>
        <div>
          <label for="total_amount" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-money-bill-wave mr-1"></i>  Total Amount:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.total_amount }}</span>
        </div>
        <div>
          <label for="paid_amount" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-money-bills"></i>  Paid Amount:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.paid_amount }}</span>
        </div>
        <div>
          <label for="due_amount" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-money-bill-transfer"></i> Due Amount:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.due_amount }}</span>
        </div>


        <div>
          <label for="payment_status" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-money-check"></i> Payment Status:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.payment_status }}</span>
        </div>
        <div>
          <label for="upi_id" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-credit-card"></i> UPI ID:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.upi_id }}</span>
        </div>
        <div>
          <label for="guest_name" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-person-walking-luggage"></i> Guest Name:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.guest_name }}</span>
        </div>
        <div>
          <label for="guest_phone" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-phone"></i> Guest Phone:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.guest_phone }}</span>
        </div>
        <div>
          <label for="guest_address" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-address-book"></i> Guest Address:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.guest_address }}</span>
        </div>
        <div>
          <label for="guest_email" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-envelope"></i> Guest Email:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.guest_email }}</span>
        </div>
        <div>
          <label for="adults" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fas fa-user mr-1"></i> Adults:
          </label>
          <span class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">
            {{ bookingData.adults }}
          </span>
        </div>
        
        <div>
          <label for="childrens" class="block mb-1 text-sm font-medium text-blue-700">
            <i class="fa-solid fa-children"></i> Childrens:</label>
          <span
            class="text-sm font-semibold inline-block py-1 px-2 rounded text-slate-800 bg-slate-200 uppercase last:mr-0 mr-1">{{
            bookingData.childrens }}</span>
        </div>



      </div>
    </div>
  </div>
</section>



